attrs==25.3.0
autobahn==24.4.2
Automat==25.4.16
cffi==1.17.1
constantly==23.10.4
cryptography==45.0.3
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
pycparser==2.22
setuptools==80.9.0
Twisted==24.11.0
txaio==23.1.1
typing_extensions==4.14.0
zope.interface==7.2
